<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.READ_CALENDAR"/>
  <application android:label="Nimbus Daily" android:allowBackup="false" android:theme="@style/AppTheme"
    android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
    android:usesCleartextTraffic="false">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="nimbusdaily" android:host="import"/>
      </intent-filter>
    </activity>
    <receiver android:name=".WeatherWidget" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="com.nimbus.weather.REFRESH"/></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_widget"/>
    </receiver>
    <receiver android:name=".CompactWeatherWidget" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/compact_weather_widget"/>
    </receiver>
    <receiver android:name=".TransportWidget" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/transport_widget"/>
    </receiver>
  </application>
</manifest>